<table class="table">

    <tr>
        <th>Estate ID</th>
        <th>Estate Title</th>
        <th>Estate Name</th>
        <th>District</th>
        <th>Occupants</th>
        <th>Edit</th>
        <th></th>
    </tr>

    <% estates.forEach( function(model) { %>
        <tr>
            <td>
                <%= model.id %>
            </td>
            <td><a href="/estate/view/<%= model.id %>">
                    <%= model.title %>
                </a></td>
            <td>
                <%= model.estatename %>
            </td>
            <td><%= model.district %></td>
            <td><a href="/user/<%= model.id %>/occupant">Occupants</a></td>
            <td><a href="/estate/update/<%= model.id %>">Edit</a></td>
            <td>
                <button type="button" class="btn btn-danger" onclick="deleteEstate('<%= model.id %>')">Delete</button>
            </td>
        </tr>
        <% }); %>
</table>

<script>
    async function deleteEstate(id) {
        var r = confirm("Confirm Delete?");

        if (r) {
            var response = await fetch("/estate/" + id, {
                method: "DELETE",
            });

            console.log(response);

            location.reload();
        } else {
            alert("cancelled");
        }
    };
</script>