<table class="table">
    <% estates.forEach( function(model) { %>
    <tr>
        <td><%= model.id %></td>
        <td><a href="/estate/view/<%= model.id %>"><%= model.title %></a></td>
        <td><%= model.estatename %></td>
        <td><a href="/estate/update/<%= model.id %>">Occupants</a></td>
        <td><a href="/estate/update/<%= model.id %>">Edit</a></td>
        <td>
            <button type="button" class="btn btn-danger" onclick="deleteEstate('<%= model.id %>')">Delete</button>
        </td>
    </tr>
    <% }); %>
</table>

<script>
    async function deleteEstate(id) {
        var dr = document.getElementById("deleteResult");

        var r = confirm("Confirm Delete?");

        if (r) {
            var response = await fetch("/estate/" + id, {
                method: "DELETE",
                credentials: 'same-origin',
            });

            console.log(response);

            alert(response.status + ": " + response.statusText);

            location.assign('/');
        } else {
            alert("cancelled");
        }
    };
</script>